* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: black;
}

.header {
    width: 1024px;
    margin: 0 auto;
    padding-top: 10px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.tab-bar button {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.content-one img {
    border-radius: 20;
    width: 100%;
    height: auto;
}

div.thumbs-wrapper.axis-vertical{
    visibility: hidden;
    position: fixed;
    padding: 0;
    margin: 0;
}

.content-three img {
    width: 100%;
    height: auto;
}

table.header{
    visibility: hidden;
    position: fixed;
    padding: 0;
    margin: 0;
}

#mobile-search {
    visibility: hidden;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .header{
        max-width: 747px;
        padding: 0 20px;
        padding-top: 10px;
    }
    .container{
        width: 747px;
        margin: 0 auto;
        font-size: 14px;
    }
    .content-three div{
        padding: 15px 0;
    }
    .content-three img{
        width: 747px;
        height: auto;
    }
    .content-one img{
        width: 747px;
        height: auto;
    }
    .tab-bar button{
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    #desktop-search{
        position: fixed;
        visibility: hidden;
    }
    #mobile-search{
        visibility: visible;
    }
    .header{
        width: 348px;
        margin: 0 auto;
    }
    .container{
        width: 348px;
        margin: 0 auto;
        font-size: 14px;
    }
    .content-three div{
        padding: 15px 0;
    }
    .content-one img{
        width: 348px;
        height: auto;
    }
    .content-three img{
        width: 348px;
        height: auto;
    }
    .tab-bar button{
        font-size: 14px;
    }
}
